a[href*="/nsfw/"]::before {
    content: '[NSFW]';
    background: red ;
    color: white;
    font-weight: bold;
    display: inline-block;
}
a[href*="/nsfw/"]::after {
    content: '[NSFW]';
    background: red ;
    color: white;
    font-weight: bold;
    display: inline-block;
}