.spoiler-text {
    color: grey !important;
    font-style: italic !important;
    line-height: 1.2em !important;
    border: 1px solid #252525 !important;
    display: inline !important;
    position: relative!important;
    opacity: 1 !important;
}