/* Show Spoilers */
.PT_showSpoilers .spoiler-text {
    color: grey !important;
    font-style: italic;
    line-height: 1.2em;
    left: inherit!important;
    border: 1px solid #252525;
    display: inline !important;
    position: relative!important;
    opacity: 1 !important;
    width: auto!important;
    height: auto!important;
}

/* Options */
.PT_enabled {
    background-color: green !important;
}

/* Sidebar Replacement */
#tUploads .comPaginator{
    display: none;
}
#image_div a{
    height: 80% !important;
}
#tUploads .uName{
    display: inline !important;
}
#tUploads .com{
    min-width: 160px !important;
    display: block;
}
.uploadBttn {
    background-color: #8c0089 !important;
}

.PT_Toggle {
     width: 44%;
}

#PT_MassFlagForm small,
#PT_MassFlagForm small > a{
    color: gray;
}

#PT_MassFlagForm > .comm{
    margin: 3px 0;
    padding: 3px;
    border: solid;
    border-width: 2px;
}
